<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>Duke Energy Usage Tracking</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Duke Energy Usage Tracking</a>
            </div>
          </div>
        </nav>

        <div class="container">
            
            
            <div class="row">
                <p><b>Enter number of hours worked in HH.HH/HH or HH MM format </b></p>
                <p>Example- 1) 19.20/20.00 - This means you have worked 19.2 hours out of 20 and the result in this case will be 0.8 hours</p>
                <p>Example- 2) 19 12/20.00 - This means you have worked 19 hours 12 mins out of 20 and the result in this case will be 0.8 hours</p>
                <p>The length of the input should be 11 characters including slash and space or dot</p>
                <form action="/result" method="POST">
                    <textarea class="form-control" name="Hours Worked" placeholder="Enter number of hours worked in HH.HH or HH MM format (Example- 19.20/20.00 or 19 12/20.00) "></textarea>
                    <input type="submit" class="btn btn-success" value="Submit">
                </form>
            </div>

        </div>

    </body>
</html>